/*!
 * CSS for Train App
 */

html, body {
    height: 100%;
    width: 100%;
    font-family:"Titillium Web", Helvetica, Sans-Serif;
    color: #252525;
	padding: 0;
	margin: 0;
}

/* full screen background image */
#background, #background li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: url('images/redline.gif');
  background-color: transparent; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}

#background { 
  z-index: -1;
  margin: 0; 
  padding: 0; 
}

.grey-background {
	background-color: #f1f1f1;
}

/*
* Bootstrap overrides
*/

.navbar {
	min-height: 100px;
	max-height: 100px;
	margin-bottom: 0px;
	border-radius: 0px; 
}

.navbar-default {
	background-color: #f1f1f1;
}

.redBorder {
	border-top: 6px solid #e1344b;
}

.stationDots {
    position: absolute;
    bottom: 76px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.stationDots li {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 4px;
    text-indent: -999px;
    border-radius: 10px;
    background-color: #ffffff;    
}

.stationDots .active {
    margin: -1px;
    width: 14px;
    height: 14px;  
}

.redDot {
	border: 4px solid #e1344b;
}


/*
* form container CSS
*/


.formBackground {
	margin-top: 50px;
	background-color: #f1f1f1;
	font-size: 18px;
	border-radius: 0px; 
	padding-top: 10px;
	padding-bottom: 20px;

}

.trainLineHeading {
	font-weight: 800;
}

.margin30top {
	margin-top: 30px;
}

.margin30left {
	margin-left: 30px;
}

.red {
	color: #e1344b;
}

.trainLineImage {
	width: 100%;
	height: 304px;
	overflow-x: auto;
}

.platform {
	margin-top: 0;
	padding-bottom: 10px;
    padding-top: 10px;
	background-color: #a0c8e1;
	color: #ffffff;
	font-weight: 800;
	height: 300px;
}

.formContainer {
	background-color: #d7edf8;	
	padding: 20px 0px;
	margin: -10px 0px;
}

.imgLegend {
	height: 100px;
}


/*
* Media queries
*/

@media (min-width: 600px) {
	.navbar {
		min-height: 150px;
		max-height: 150px;
	}
	.stationDots {
		bottom: 126px;
	}
}

@media (min-width: 1200px) { 
	.trainLineImage {
		width: 1200px;
		height: 304px;
	}	
}


