/*!
 * CSS for Train App
 */

html, body {
    height: auto;
    width: 100%;
    font-family:"Titillium Web", Helvetica, Sans-Serif;
    color: #252525;
	padding: 0 0 50px 0;
	margin: 0;
}


/* full screen background image */
#background, #background li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: url('images/CHI_Train_Background.png');
  background-color: transparent; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}

#background { 
  z-index: -1;
  margin: 0; 
  padding: 0; 
}

/* full screen background image */
#backgroundGIF, #backgroundGIF li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: url('images/purple.gif');
  background-color: transparent; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}

#backgroundGIF { 
  z-index: -1;
  margin: 0; 
  padding: 0; 
}

/* full screen background image */
#backgroundColor, #backgroundColor li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: #f1f1f1; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}

#backgroundColor { 
  z-index: -1;
  margin: 0; 
  padding: 0; 
}

.grey-background {
	background-color: #f1f1f1;
}

/*
* Bootstrap overrides
*/

.navbar {
	min-height: 100px;
	max-height: 100px;
	margin-bottom: 0px;
	border-radius: 0px; 
}

.navbar-default {
	background-color: #f1f1f1;
}

.btn-primary {
    color: #ffffff;
    background-color: #4291c3;
    border-color: #2e6da4;
}

.iOSHeightFix {
	max-height: 70vh;
	overflow-y: auto;
}

.iOSPaddingFix {
	padding-bottom: 30vh;
}



/*
* Train Line colors and station dots
*/

.red {
	color: #c60c30;
}

.redBorder {
	border-top: 6px solid #c60c30;
}

.redDot {
	border: 4px solid #c60c30;
}

.blue {
	color: #00a1de;
}

.blueBorder {
	border-top: 6px solid #00a1de;
}

.blueDot {
	border: 4px solid #00a1de;
}

.brown {
	color: #62361b;
}

.brownBorder {
	border-top: 6px solid #62361b;
}

.brownDot {
	border: 4px solid #62361b;
}

.green {
	color: #009b3a;
}

.greenBorder {
	border-top: 6px solid #009b3a;
}

.greenDot {
	border: 4px solid #009b3a;
}

.orange {
	color: #f9461c;
}

.orangeBorder {
	border-top: 6px solid #f9461c;
}

.orangeDot {
	border: 4px solid #f9461c;
}

.purple {
	color: #522398;
}

.purpleBorder {
	border-top: 6px solid #522398;
}

.purpleDot {
	border: 4px solid #522398;
}

.pink {
	color: #e27ea6;
}

.pinkBorder {
	border-top: 6px solid #e27ea6;
}

.pinkDot {
	border: 4px solid #e27ea6;
}

.yellow {
	color: #f9e300;
}

.yellowBorder {
	border-top: 6px solid #f9e300;
}

.yellowDot {
	border: 4px solid #f9e300;
}

.grey {
	color: #565a5c;
}

.greyBorder {
	border-top: 6px solid #565a5c;
}

.greyDot {
	border: 4px solid #565a5c;
}


.stationDots {
    position: absolute;
    bottom: 76px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.stationDots li {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 4px;
    text-indent: -999px;
    border-radius: 10px;
    background-color: #ffffff;    
}

.stationDots .active {
    margin: -1px;
    width: 14px;
    height: 14px;  
}

/*
* help button position
*/

#helpButton {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;	
}


/*
* train CSS transitions to show train pulling in to the station from the left
*/

.trainLineImage {
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
}

.slide-in {
    animation: slide-in 1.5s forwards;
    -webkit-animation: slide-in 1.5s forwards;
}

.slide-out {
	overflow-x: hidden;
    animation: slide-out 1.5s forwards;
    -webkit-animation: slide-out 1.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0px); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0px); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0px); }
    100% { transform: translateX(2000px); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(2000px); }
}


/*
* form container CSS
*/


.formBackground {
	margin-top: 55px;
	background-color: #f1f1f1;
	color: #545454;
	font-size: 16px;
	border-radius: 0px; 
	padding-top: 10px;
	padding-bottom: 20px;
}

.radio label, .checkbox label {
    min-height: 30px;
    font-weight: 300;
}

.trainLineHeading {
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 18px;
	margin-top: 20px;
    margin-bottom: 0px;
}

#largeHeading {
	display: none;
}


.heading {
	font-weight: 300;
	color: #545454;
	font-size: 18px;
	margin-top: 5px;
    margin-bottom: 0px;
}

.subheading {
	color: #9d9d9d;
	font-family: Georgia, Times, serif;
	font-size: 18px;
	margin-bottom: 5px;
}

#scrollText {
	display: block;
	width: 1200px;
	height: 22px;
	overflow: hidden;
}

.arrow { 
	position: relative; 
	display: inline-block;
	margin-left: 10px;
	margin-top: 4px;
	background-image: url('images/arrow-sm.png');
	background-position: center center; 
  	background-repeat: no-repeat;
	height: 17px;
	width: 30px;
}


.margin30top {
	margin-top: 30px;
}

.margin25top {
	margin-top: 25px;
}

.margin30left {
	margin-left: 30px;
}

.trainLineWrap {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 1px;
	min-width: 100vw;
}

.div20pxtall {
	height: 20px;
	width: 1px;
}

.trainLineImage {
	width: 100%;
	height: auto;
	cursor: ew-resize;
	z-index: 2; 
}

#heatmap {
	width: 1200px;
	height: 304px;
}

.heatmap-canvas {
	pointer-events: none;
	z-index: -1;
}

.raiseImage {
	opacity: 0.25 !important;
}

.imageOverflow {
	overflow-x: scroll;
	overflow-y: hidden;
}

.platform {
	margin-top: 0;
	padding-bottom: 10px;
    padding-top: 10px;
	background-color: #a0c8e1;
	color: #ffffff;
	font-weight: 800;
	height: 100px;
}

.formContainer {
	background-color: #d7edf8;	
	padding: 20px 0px;
	margin: -10px 0px;
}

.imgLegend {
	height: 100px;
}



/*
* Media queries
*/

@media (min-width: 600px) {

	.stationDots {
		bottom: 126px;
	}

	.trainLineHeading {
		font-size: 24px;
		margin-top: 20px;
	}

	.heading {
		font-size: 36px;
	    margin-bottom: 10px;
	}

	.subheading {
		color: #9d9d9d;
		font-size: 20px;
	    margin-bottom: 10px;
	}

	.formBackground {
		margin-top: 50px;
		font-size: 18px;
	}

	.arrow { 
		position: relative; 
		display: inline-block;
		margin-left: 10px;
		margin-top: 0px;
		background-image: url('images/arrow.png');
		background-position: center center; 
	  	background-repeat: no-repeat;
		height: 34px;
		width: 59px;
	}

	#scrollText {
		height: 34px;
	}


}

@media (min-width: 1200px) { 
	.trainLineImage {
		width: 1200px;
		height: auto;
	}

	#heatmap {
		width: 1200px;
		height: 304px;
	}

	#scrollText {
		display: none;
	}

	#smallHeading {
		display: none;
	}

	#largeHeading {
		display: block;
	}
}


