<!-- Content -->
<div class="container-fluid">
    <form id="buildingHeightForm" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                <h2 class="questionHeading">
                    How many stories tall will this new building be?
                </h2>
            </div>
            <div class="col-xs-2 col-sm-1">
                <p class="pagesCompleted pull-right">2/4</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group formField">
                    <div class="input-group">
                      <div class="input-group-addon leftBedroom"><span class=""></span></div>
                       {{ form }}
                      <div class="input-group-addon right"><span id="storiesMinus" class="minusStepper"></span><span id="storiesPlus" class="plusStepper"></span></div>
                    </div>
                    <p class="text-danger hidden">Please enter a valid number of stories above to continue.</p>
                    {{ form.errors }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 bottomButtonGroup">
                <button id="backNeighborhood" class="btn btn-dna-primary mobileWidth marginRight10" type="submit"><span class="backArrow"></span>Back</button>
                <button id="nextLocation" class="btn btn-dna-primary mobileWidth" type="submit">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </form>
</div>
	
<script type="text/javascript">
    var objectID = "{{ NYCskylineObject.id }}";
</script>

