<!-- Content -->
<div class="container-fluid">
    <form id="whatNeighborhoodForm" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                <h2 class="questionHeading">
                    What neighborhood is the new building in?
                </h2>
            </div>
            <div class="col-xs-2 col-sm-1">
                <p class="pagesCompleted pull-right">1/4</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group formField">
                    <div class="input-group">
                      <div class="input-group-addon left"><span class="locationIcon"></span></div>
                       {{ form }}
                      <div class="input-group-addon"></div>
                    </div>
                    <p class="text-danger hidden">Please pick a neighborhood above to continue.</p>
                    {{ form.errors }}
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-2 bottomButtonGroup">
                <a class="btn btn-dna-primary mobileWidth marginRight10" href="{% url 'skyline_landingPage' %}"><span class="backArrow"></span>Back</a>
                <button id="nextHeight" class="btn btn-dna-primary mobileWidth" type="submit" disabled="disabled">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var objectID = "{{ NYCskylineObject.id }}";
    $( document ).ready(function() {

        // remove labels
        $('label').remove();
        // add a form-control class to the input, disabled attribute and placeholder text
        $('#id_whereBuilding').addClass("form-control");
        var selected = $('#id_whereBuilding option:selected').val();
        console.log(selected);
        $('#id_whereBuilding option[value=""]').remove();
        $(".fadein").fadeIn("slow");
        // scroll to top
        $('#content').scrollTop(0);
        // initialize select 2
        $('.django-select2').djangoSelect2();
        if (!selected) {
            // update placeholder text
            setTimeout(function() {
                $('.select2-selection__placeholder').text("Select a Neighborhood");
            }, 100);
            
        }
    });
</script>
	

