Django==1.10.1
Django-Select2==5.8.9
Pillow==3.3.1
bitly-api==0.3
django-allauth==0.27.0
django-appconf==1.0.2
django-forms-bootstrap==3.0.1
oauthlib==2.0.0
python-dateutil==2.5.3
python-openid==2.2.5
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
wsgiref==0.1.2
xmltodict==0.10.2
