Django==1.8
Django-Select2==4.3.1
bitly-api==0.3
django-allauth==0.25.2
django-forms-bootstrap==3.0.1
oauthlib==1.1.2
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2015.2
requests==2.10.0
requests-oauthlib==0.6.1
six==1.9.0
wsgiref==0.1.2
xmltodict==0.10.1