{% extends 'skyline_chi/baseCHI.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Future Skyline | DNAinfo{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/carto.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/Control.Geocoder.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/OSMBuildings.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/all-bootstrapped.min.css' %}">
{% endblock %}

{% block head_js_block %}
<script type="text/javascript" src="{% static 'skyline_chi/js/controllers.js' %}"></script>
{% endblock %}
  
{% block body_block %}
<div id="content" class="fadein">
    {% include 'skyline_chi/whatNeighborhood.html' %}
</div>
{% endblock %}

{% block modal_block %}   
  <div class="modal fade" id="methodology" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="modal-body modalContent">
          <p>
            DNAinfo uses MapPluto 16v1 (<a href="http://www1.nyc.gov/site/planning/data-maps/open-data/dwn-pluto-mappluto.page" target="_blank">MapPluto</a>) for the underlying geography of each parcel across New York City. MapPluto combines NYC Department of Planning's tax lot data from PLUTO with data from the NYC Department of Finance's Digital Tax Map. These data are from April 2016. We calculate buidling heights with a formula derived from the <a href="http://www.ctbuh.org/HighRiseInfo/TallestDatabase/Criteria/HeightCalculator/tabid/1007/language/en-GB/Default.aspx" target="_blank">Council on Tall Buildings and Urban Habitat</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'skyline_chi/js/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/carto.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/Control.Geocoder.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/OSMBuildings.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'skyline_chi/js/osmmap.js' %}"></script>
{% endblock %}
