{% load staticfiles %}
<!-- Content -->
<div id="map"></div>

<form id="exactLocationForm" method="post" action=".">
    <div class="container-fluid absolutePostionedDiv">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-9 col-sm-7 col-xs-offset-1 col-sm-offset-2">
                <div class="forceBlock">
                    <h2 class="questionHeadingExact">
                        Click the building footprint where the new building will be.
                    </h2>
                    <h2 class="questionHeadingExactSmall">
                        Tap the building footprint where the new building will be.
                    </h2>
                </div>
            </div>
            <div class="col-xs-2 col-sm-1">
                <p class="pagesCompleted pull-right highlightBackground">3/4</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group formField invisible">
                    <div class="input-group">
                      <div class="input-group-addon left"><span class="locationIcon"></span></div>
                       {{ form }}
                      <div class="input-group-addon"></div>
                    </div>
                    {{ form.errors }}                 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">    
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2 bottomButtonGroupMap">
                <button id="backHeight" class="btn btn-dna-primary mobileWidth marginRight10" type="submit"><span class="backArrow"></span>Back</button>
                <button id="nextEnd" class="btn btn-dna-primary mobileWidth" type="submit" disabled="disabled">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </div>
</form>

<div class="question-mark-holder">
    <a data-toggle="modal" data-target="#faq">
        <i class="fa fa-question fa-3x for-mobile-2x" aria-hidden="true"></i>
    </a>
</div>
<div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><strong>Frequently Asked Questions:</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body modalContent">
                <p><strong>Q: What if I can't find my address?</strong></p>
                <p>
                    A: Not all addresses will display on the map, due to the nature of the data available from the city. If you can't find your property, you're welcome to enter it on the closest plot available, and our team will evaluate it before accepting it for display on the public map. Questions or concerns about the map can also be sent to <a href="mailto:3Dmap@dnainfo.com">3Dmap@dnainfo.com</a>.
                </p>
                <p><strong>Q: Why won't my property let me click it?</strong></p>
                <p>
                    A: DNAinfo Chicago built this map using the crowd-sourced interactive map software <a href="https://osmbuildings.org/" target="_blank"> OpenStreetMap (OSM) Buildings</a>. If OSM doesn't include building footprints as active, they will not be available to place a new building.
                </p>
                <p><strong>Q. What if my building is bigger than the existing plots?</strong></p>
                <p>
                    A: DNAinfo's 3-D map can only accept submissions through the existing plots. If you know a building will take up multiple plots, you are welcome to enter the same information about that building into all the relevant plots.
                </p>
                <p><strong>Q: What if my building is smaller than the existing plots?</strong></p>
                <p>
                    A: You are welcome to enter the information into the plot where the building will be located, and we will take that into consideration before accepting it for display on the public map.
                </p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var objectID = "{{ CHIskylineObject.id }}";
    var neighborhoodName = "{{ CHIskylineObject.whereBuilding.dnaurl }}";
    var buildingStories = parseInt("{{ CHIskylineObject.buildingStories }}");
    // formula from http://www.ctbuh.org/HighRiseInfo/TallestDatabase/Criteria/HeightCalculator/tabid/1007/language/en-GB/Default.aspx
    var buildingHeight;
    if (buildingStories < 30) {
        buildingHeight = buildingStories*10;
    } else {
        buildingHeight = (3.5*buildingStories) + 9.625 + (2.625 * (buildingStories/25));
    }
    var projectName = "{{ CHIskylineObject.projectName }}";
    var buildingAddress = "{{ CHIskylineObject.buildingAddress }}";
    var buildingImage = "{{ CHIskylineObject.buildingImage }}";
    var buildingDoc = "{{ CHIskylineObject.buildingDoc }}";
    var buildingURL = "{{ CHIskylineObject.buildingURL }}";

    $( document ).ready(function() {
        window.setTimeout(function() {
            mapApplication.initialize();
        }, 1);
    });

</script>
	

