{% extends 'skyline_chi/baseCHI.html' %} {% load staticfiles %} {% load bootstrap_tags %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'skyline_chi/css/all-bootstrapped.min.css' %}"> {% endblock %} {% block head_js_block %}
<script type="text/javascript" src="{% static 'skyline_chi/js/controllers.js' %}"></script>
{% endblock %} {% block body_block %}
<div id="content" class="fadein">
    <!-- Content -->
    <div class="container-fluid">
        <form id="whatNeighborhoodForm" method="post" action=".">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                    <h2 class="questionHeading">
                        What neighborhood is the new building in?
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="form-group formField">
                        <div class="input-group">
                            <div class="input-group-addon left"><span class="locationIcon"></span></div>
                            {{ form }}
                            <div class="input-group-addon"></div>
                        </div>
                        <p class="text-danger hidden">Please pick a neighborhood above to continue.</p>
                        {{ form.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-2 bottomButtonGroup">
                    <a class="btn btn-dna-primary mobileWidth marginRight10" href="{% url 'skyline_chi_AdminDashboard' %}" role="button"><span class="backArrow"></span>Back</a>
                    <button class="btn btn-dna-primary mobileWidth" type="submit">Next<span class="forwardArrow"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript" src="{% static 'skyline_chi/js/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    // remove labels
    $('label').remove();
    // add a form-control class to the input, disabled attribute and placeholder text
    $('#id_whereBuilding').addClass("form-control");
    var selected = $('#id_whereBuilding option:selected').val();
    $('#id_whereBuilding option[value=""]').remove();
    // initialize select 2
    $('.django-select2').djangoSelect2();
    if (!selected) {
        $('.select2-selection__placeholder').text("Neighborhood");
    }

});
</script>
{% endblock %}
