{% extends 'skyline_chi/baseCHI.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js_block %}
<script type="text/javascript" src="{% static 'skyline_chi/js/controllers.js' %}"></script>
{% endblock %}


{% block body_block %}
<div id="content" class="fadein">
    <!-- Content -->
    <div class="container-fluid">
        <form method="post" action=".">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                    <h2 class="questionHeading">
                        Are you sure you want to remove this sponsored building?
                    </h2>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <p class="pagesCompleted pull-right"></p>
                </div>
            </div>
            <div class="row marginBottom20">
                <div class="col-sm-4 col-sm-offset-2">
                    <img class='img-responsive' src="/visualizations/media/{{ NYCSponsoredBuildingsObject.buildingImage }}" />
                </div>
                <div class="col-sm-6">
                    <h4>{{ NYCSponsoredBuildingsObject.buildingName }}</h4>
                    <p>
                        {{ NYCSponsoredBuildingsObject.buildingAddress }}<br />
                        {{ NYCSponsoredBuildingsObject.buildingStories }} stor{{ NYCSponsoredBuildingsObject.buildingStories|pluralize:"y,ies" }}<br />
                        {{ NYCSponsoredBuildingsObject.buildingText }}<br />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <a class="btn btn-primary marginRight10" href="{% url 'skyline_sponsoredList' %}" role="button">No!</a>
                    <button class="btn btn-danger" type="submit">Yes.</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="form-group formField invisible">
                        {{ form|as_bootstrap }}
                        {{ form.errors }}
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block js_block %}
{% endblock %}



