a {
    cursor: pointer;
    color: #0073a2;
}

a:hover,
a:focus {
    text-decoration: none;
}

.grey-bg {
    background: #F8F8F8;
}

.white-bg {
    background: #fff;
}

.component-heading {
    font-weight: bold;
    margin-bottom: 15px;
}

.component-info {
    font-size: 1.4em;
    line-height: 1.5;
    font-family: 'Georgia', serif;
    margin-bottom: 6%;
}

.navbar {
    height: 56px;
    border-bottom: 1px solid #D1D1D1;
}


.social-media-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-media-links-top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 0;
    right: 0;
}

.link-holder {
    height: 45px;
    width: 45px;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
}

.facebook {
    background: #3D5A96;
    margin-left: 0;
}

.facebook-top {
    background: #3D5A96;
    margin-left: 0;
    position: relative;
    right: 0;
}

.twitter {
    background: #59ADEB;
    margin-left: 4%;
}

.link-holder a {
    display: flex;
    justify-content: center;
}

.link-holder i {
    color: #fff;
}

.title {
    text-align: center;
    color: #2E2925;
    margin: 0 15px;
    text-align: left;
}

.title .title-heading {
    font-size: 27px;
    line-height: 42px;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.title .title-subheading {
    margin-top: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    margin-bottom: 6%;
}

.title .title-info {
    font-family: 'Georgia', serif;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    letter-spacing: .4px;
    font-size: 1.5em;
    margin-bottom: 6%;
}


.select-parent {
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
}

.select-parent-holder {
    width: 100%;
    margin-left: 11%;
}

.select-parent form .form-group {
    margin-bottom: 0px;
}

.select-parent .chevron-button-holder {
    z-index: 2;
}

.select-parent .chevron-button {
    color: white;
    background: #1074A0;
    border: none;
    padding: 0;
    outline: none;
    min-width: 45px;
    width: 45px;
    height: 45px;
    text-align: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.select-parent-header .chevron-button {
    position: relative;
    right: 45px;
}

.chevron-button .fa-chevron-down {
    font-size: 12px;
}

.building-component {
    color: #2E2925;
}

.building-component-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 92%;
    padding: 4% 0%;
}

.building-component-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.building-component-holder .building-component-info {
    width: 100%;
}


.proposed-building-component-info {
    order: 2;
}
.proposed-building-component-image {
    order: 1;
}
.approved-building-component-info {
    order: 2;
}
.approved-building-component-image {
    order: 1;
}
.sponsored-building-component-info {
    order: 2;
}
.sponsored-building-component-image {
    order: 1;
}



.building-component-image {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.building-component-image .building-component-svg {
    width: 100%;
}

.info-icon {
    position: relative;
    outline: none;
    background: transparent;
    border: none;
}

.info-icon img {
    width: 40px;
    height: 40px;
}

.approved-info-icon {
    position: absolute;
    right: 38%;
    bottom: 75%;
}

.proposed-info-icon {
    position: absolute;
    bottom: 64%;
    left: 55%;
}

.sponsored-info-icon {
    position: absolute;
    bottom: 68%;
    right: 46%;
}

.modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    font-size: 2em;
}


.building-component-modal {
    position: static;
    background: #fff;
    border-radius: 4px;
    padding: 0%;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 #c5c5c5;
    width: 100%;
    display: none;
    z-index: 2;
}


.proposed-component-modal {
    left: 24%;
}

.building-modal-header {
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    padding: 2% 4%;
    border-radius: 4px 4px 0 0;
    letter-spacing: .3px;
}

.building-modal-info {
    padding: 0 4%;
}

.building-modal-info-header {
    border-bottom: 1px solid #EAE9E9;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.building-modal-info-header i {
    color: #c5c5c5;
    cursor: pointer;
}

.building-modal-info-header h4 {
    font-weight: bold;
    margin: 15px 0;
}

.building-component-info-content {
    display: flex;
    font-family: 'Georgia', serif;
}

.building-component-info-content main {
    margin-right: 10px;
}

main .building-address {
    color: #9b9b9b;
    line-height: 18px;
}

.building-modal-info footer {
    font-weight: bold;
    text-align: left;
}

.building-modal-info footer .links {
    margin-bottom: 6%;
    color: #0073a2
}

.building-modal-info footer .social-media-links .twitter {
    margin-left: 4%;
}

.approved-header {
    background: #21CCBE;
}

.proposed-header {
    background: #1074A0;
}

.proposed-sponsored-header {
    background: #FECE42;
}

footer .social-media-links {
    justify-content: flex-start;
}

footer {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.got-it-now {
    color: black;
    display: block;
    margin-bottom: 20px;
}

.got-it-now .component-heading {
    margin-bottom: 4%;
    margin-top: 2%;
}

.got-it-now .add-a-building-button {
    background: #1074A0;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 12px;
    height: 45px;
}

footer .select-parent {
    margin: 0;
    margin-left: 11%;
    justify-content: flex-start;
    width: 61%;
}
 
.bottom-footer {
    padding-bottom: 40%;
}

footer .select-parent .select-parent-holder {
    width: 100%;
    margin-left: 0;
}

footer .select-parent .chevron-button {
    right: 45px;
    z-index: 1;
}

footer .select2-selection__rendered {
    text-align: left;
}

.select-parent form .row {
    margin: 0;
}

.view-methodology {
    text-align: center;
    font-size: 17px;
}

.credits {
    margin-top: 60px;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 600;
    color: #2E2925;
}

@media (min-width: 321px) {
    footer .select-parent {
        width: 78%;
    }
}

@media (min-width: 426px) {
    .social-media-links {
        justify-content: flex-end;
        width: 97%;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .social-media-links-top {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        margin-top: 0;
        margin-bottom: 0;
        width: initial;
    }
    .facebook-top {
        position: absolute;
        right: 65px;
    }
    .twitter {
        margin-left: 0;
    }
    .title {
        margin: 0;
        text-align: center;
    }
    .title .title-heading {
        font-size: 36px;
        line-height: 44px;
        padding: 0;
        margin-top: 40px;
        margin-bottom: 30px;
        width: 65%;
    }
    .title .title-subheading {
        margin-bottom: 26px;
    }
    .title .title-info {
        line-height: 1.4;
        font-size: 1.5em;
        width: 95%;
    }
    .building-component-holder {
        width: 90%;
        flex-wrap: nowrap;
    }
    .building-component-holder .building-component-info {
        width: 50%;
    }
    .building-component-holder .building-component-image {
        width: 50%;
    }
    .building-component-modal {
        position: absolute;
        right: 10%;
        width: 300px;
    }
    .proposed-building-component-info {
        order: 1;
    }
    .proposed-building-component-image {
        order: 2;
    }
    .approved-building-component-info {
        order: 1;
    }
    .approved-building-component-image {
        order: 2;
    }
    .sponsored-building-component-info {
        order: 1;
    }
    .sponsored-building-component-image {
        order: 2;
    }
    .select-parent {
        /*margin: 0 auto;*/
        margin-left: 0;
        margin-bottom: 60px;
    }
    .select-parent-holder {
        width: 397px;
        margin-left: 2.5%;
    }

    footer .select-parent {
        /*margin: 0 auto;*/
        margin-left: 0px;
        width: 397px;
    }
}

@media (min-width: 768px) {
    .title .title-heading {
        font-size: 44px;
        line-height: 64px;
        margin-top: 60px;
        margin-bottom: 40px;
        width: 75%;
    }
    .title .title-info {
        width: 90%;
    }
    .component-info {
        font-size: 1.2em;
    }
    .building-component-holder {
        width: 80%;
    }
/*    .building-component-modal {
        width: 30%;
    }*/
    .got-it-now {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 2.5%;
        width: 90%;
    }
    .got-it-now .component-heading {
        margin: 0% 20px;
    }
    .view-methodology {
        font-size: 1.4em;
    }
    .credits {
        font-size: 1.2em;
    }
    .bottom-footer {
        padding-bottom: 20%;
    }
}

@media (min-width: 1024px) {
    .title .title-heading {
        font-size: 50px;
        line-height: 65px;
        width: 70%;
    }
    .title .title-info {
        margin-bottom: 55px;
        width: 65%;
        font-size: 25px;
    }
    .title .title-subheading {
        font-size: 22px;
        margin-bottom: 40px;
    }
    .building-component-holder {
        width: 60%;
    }
/*    .building-component-modal {
        width: 21%;
    }*/
    .got-it-now {
        width: 65%;
    }
    .bottom-footer {
        padding-bottom: 5%;
    }
}


