a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.grey-bg {
    background: #F8F8F8;
}

.white-bg {
    background: #fff;
}

.component-heading {
    font-weight: bold;
}

.component-info {
    font-size: 1.4em;
    line-height: 1.5;
    font-family: 'Georgia', serif;
    margin-bottom: 6%;
}

.navbar {
    height: 56px;
    border-bottom: 1px solid #D1D1D1;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

.link-holder {
    height: 40px;
    width: 40px;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
}

.facebook {
    background: #3D5A96;
}

.twitter {
    background: #59ADEB;
}

.link-holder a {
    display: flex;
    justify-content: center;
}

.link-holder i {
    color: #fff;
}

.title {
    text-align: center;
    margin-top: -3%;
    color: #2E2925;
}

.title .title-heading {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 1%;
}

.title .title-subheading {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.title .title-info {
    font-family: 'Georgia', serif;
    line-height: 1.5;
    text-align: left;
    width: 66%;
    margin: 0 auto;
    letter-spacing: .4px;
    font-size: 1.7em;
    margin-bottom: 3%;
}

.select-parent {
    width: 36%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 4%;
    align-items: center;
}

.select-parent form .form-group {
    margin-bottom: 0px;
}

.select-parent .chevron-button {
    color: white;
    background: #1074A0;
    border: none;
    padding: 2.4% 2.6%;
    margin-left: -10%;
    outline: none;
    position: relative;
    left: -58px;
}

.building-component {
    color: #2E2925;
}

.building-component-holder {
    width: 60%;
    margin: 0 auto;
    padding: 4% 0%;
}

.building-component-info {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.building-component-images-modal {}

.building-component-images .building-component-svg {
    width: 210%;
}

.building-component-images .info-icon {
    width: 25%;
    position: relative;
}

.approved-info-icon {
    top: -20em;
    left: 12em;
}

.proposed-info-icon {
    top: -17em;
    left: 14em;
}

.sponsored-info-icon {
    top: -19em;
    left: 11em;
}

.building-component-image .info-icon {
    position: relative;
    cursor: pointer;
}

.building-component-modal {
    position: absolute;
    width: 80%;
    padding: 0;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #c1c1c1;
}

.building-component-modal .building-modal-header {
    margin: 0;
    padding: 2% 4%;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

.building-component-modal .approved-header {
    background: #21CCBE;
}

.building-modal-info {
    padding: 0% 4%;
}

.building-modal-info-header {
    color: #2E2925;
    font-weight: bold;
    border-bottom: 1px solid #eae9e9;
    margin-bottom: 6%;
}

.building-modal-info footer {
    text-align: left;
    font-weight: bold;
}

footer .social-media-links {
    justify-content: flex-start;
}

.building-component-info-content {}

footer {
    margin-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.got-it-now {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}

.got-it-now .component-heading {
    margin: 0px;
}

.got-it-now button {
    background: #1074A0;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: .8% 1.2%;
}

.view-methodology {
    text-align: center;
    font-size: 1.4em;
}

@media (max-width: 1024px) {
    .building-component-holder {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .title .title-heading {
        font-size: 3em;
    }
    .title .title-subheading {
        font-size: 1.3em;
    }
    .title .title-info {
        line-height: 1.4;
        font-size: 1.5em;
        width: 95%;
    }
    .component-info {
        font-size: 1.2em;
    }
    .building-component-holder {
        width: 90%;
    }
    .building-component-images .building-component-svg {
        width: 100%;
    }
    .building-component-images .info-icon {
        width: 1%;
    }
    .application-info-icon {
        top: -30%;
        left: -16%;
    }
    .proposed-info-icon {
        top: -19%;
        left: -11%;
    }
    .sponsored-info-icon {
        top: -24%;
        left: -23%;
    }
}

// @media (max-width: 425px) {
//     .building-component-group {
//         flex-direction: column;
//         align-items: center;
//         // justify-content: center;
//     }
//     .building-component-image-holder {
//         flex-direction: row;
//     }
// }
