// UTILITY STYLES //
a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.grey-bg {
    background: #F8F8F8;
}

.white-bg {
    background: #fff;
}

.component-heading {
    font-weight: bold;
}

.component-info {
    font-size: 21px;
    line-height: 1.5;
    font-family: 'Georgia', serif;
    margin-bottom: 6%;
}

// UTILITY STYLES //
.navbar {
    height: 56px;
    border-bottom: 1px solid #D1D1D1;
}

.social-media-links {
    display: flex;
    justify-content: flex-end;
    width: 97%;
}

.link-holder {
    height: 40px;
    width: 40px;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
}

.facebook {
    background: #3D5A96;
}

.twitter {
    background: #59ADEB;
}

.link-holder a {
    display: flex;
    justify-content: center;
}

.link-holder i {
    color: #fff;
}

.title {
    text-align: center;
    margin-top: -3%;
    color: #2E2925;
}

.title .title-heading {
    font-size: 4em;
    font-size: 600;
    font-weight: bold;
    margin-bottom: 1%;
}

.title .title-subheading {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.title .title-info {
    font-family: 'Georgia', serif;
    line-height: 1.5;
    letter-spacing: .4px;
    font-size: 1.7em;
    margin-bottom: 3%;
}

.building-component {
    display: flex;
    justify-content: center;
    color: #2E2925;
}

.building-component-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12%;
}

.reverse {
  margin-right: 0%;
  margin-left: 22%;
}

.building-component-image {}

.building-component-image img {
    margin-top: 25%;
    margin-bottom: 25%;
    width: 180%;
}

footer {
    margin-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.got-it-now {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.got-it-now .component-heading {
    margin: 0px;
}

.got-it-now button {
    background: #1074A0;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: .8% 1%;
}

.view-methodology {
    text-align: center;
}
