<!-- Content -->
<div class="container-fluid">
    <form id="bedroomsForm" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-sm-offset-2">
                <h2 class="questionHeading">
                    How many bedrooms were there?
                </h2>
            </div>
            <div class="col-xs-2 col-sm-3 col-sm-offset-1">
                <p class="pagesCompleted">5/8</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group formField">
                    <div class="input-group">
                      <div class="input-group-addon leftBedroom"><span class="bedroomIcon"></span></div>
                       {{ form }}
                      <div class="input-group-addon right"><span id="bedroomsMinus" class="minusStepper"></span><span id="bedroomsPlus" class="plusStepper"></span></div>
                    </div>
                    <p class="text-danger hidden">Please enter a valid number of bedrooms (between 0 and 20) above to continue.</p>
                    {{ form.errors }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 bottomButtonGroup">
                <button id="backYearMoved" class="btn btn-dna-primary" type="submit"><span class="backArrow"></span>Back</button>
                <button id="nextRentSplit" class="btn btn-dna-primary" type="submit">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </form>
</div>
	
<script type="text/javascript">
    var objectID = "{{ NYCmyFirstApartmentObject.id }}";
</script>

