<!-- Content -->
<div class="container-fluid">
    <div id="mainContent">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="resultsHeading text-center">
                    Loading in <span id="conunter">5</span>...
                </h2>
                <p class="text-center">Advertisement</p>
                <img src="http://placehold.it/550x480" class="img-responsive center-block"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var objectID = "{{ NYCmyFirstApartmentObject.id }}";
    var count = 5;
    var counter = setInterval(timer, 1000);

    function timer() {
        count--;
        if (count <= 0) {
            clearInterval(counter);
            $(".fadein").fadeOut("fast");
            ajaxApplication.nextResults(objectID);
        }

        $('#conunter').text(count);

    }
</script>


