<ul id="background">
  <li></li>
</ul> 

<!-- Content -->
<div class="container-fluid">
    <div id="mainContent">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="introHeading">
                    Whether you moved into your first apartment two or twenty years ago, its likely that the price has gone up since. But seeing just how much prices went up can be astounding. So tell us how much you paid in rent for your first apartment, and we'll tell you how much more you'd pay today.
                </h2>
                <button id="firstMove" class="btn btn-dna-primary" type="submit">Let's Go!</button>
            </div>
        </div>
    </div>
</div>
	

