<!-- Content -->
<div class="container-fluid">
    <form id="whatNeighborhoodForm" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-sm-offset-2">
                <h2 class="questionHeading">
                    To what neighborhood did you first move?
                </h2>
            </div>
            <div class="col-xs-2 col-sm-3 col-sm-offset-1">
                <p class="pagesCompleted">2/8</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group formField">
                    <div class="input-group">
                      <div class="input-group-addon left"><span class="locationIcon"></span></div>
                       {{ form }}
                      <div class="input-group-addon"></div>
                    </div>
                    <div class="alert alert-warning hidden" role="alert">Please pick a neighborhood above to continue.</div>
                    {{ form.errors }}
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 bottomButtonGroup">
                <button id="backFirstMove" class="btn btn-dna-primary" type="submit"><span class="backArrow"></span>Back</button>
                <button id="nextLocation" class="btn btn-dna-primary" type="submit" disabled="disabled">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var objectID = "{{ NYCmyFirstApartmentObject.id }}";
</script>
	

