/*!
 * Main css for DNAinfo My First Apartment
 */

body {
  padding: 0 80px 0 0;
  margin: 0;
    font-family:"Titillium Web", Helvetica, Sans-Serif;
    color: #686868;
}
html, body, #content, #map {
  height: 100%;
}

/* added for DNAinfo header */
.navbar {
  margin-bottom: 0;
}


/* full screen background image */
#background, #background li { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  opacity: 0.8;
  background: url('images/Illustration_SMALL.svg');
  background-color: transparent; 
  background-size: cover; 
  background-position: center bottom; 
  background-repeat: no-repeat; 
}

#background { 
  z-index: -1;
  margin: 0; 
  padding: 0; 
}

/* Main container should have 25px right and left padding */
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1282px;
}

/* Update grid system to have 10% margins and spacing */
.col-xs-10 {
  width: 90%;
}

.col-xs-2 {
  width: 10%;
}

/* Typography */
.introHeading {
  color: #686868;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.529;
  margin-top: 30px;
  margin-bottom: 40px;
}

.questionHeading {
  color: #686868;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.3125;
  margin-top: 30px;
  margin-bottom: 65px;
}

.questionHeadingExact {
  display: none;
}

.questionHeadingExactSmall {
  display: block;
  color: #686868;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.3125;
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: 65px;
}

.allPaidQuestionHeading {
  color: #686868;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.3125;
  margin-top: 30px;
  margin-bottom: 40px;
}

.resultsHeading {
  color: #686868;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.3125;
  margin-top: 30px;
  margin-bottom: 18px;  
}

.pagesCompleted {
  color: #686868;
  font-size: 14px;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 65px;  
}

.monthlyRentText {
  color: #686868;
  font-size: 17px;
  line-height: 1.5294;
  font-weight: 200;
  margin-bottom: 20px;    
}

#id_iPaid {
  font-size: 16px;
}

/*.formField {
  margin-bottom: 0px; 
}*/

.formFieldYearMoved {
  margin-bottom: 20px;
}

.methods {
  color: #8b8b8b;
  font-size: 12px;
  text-decoration: none;
}

.methods:active, .methods:hover {
  color: #8b8b8b;
  text-decoration: underline;
}

.text-danger {
  color: #d0343a;
}


/* Leaflet override */
.leaflet-top .leaflet-control {
  margin-top: 30px;
  }

/* Bootstrap overrides */
.col-sm-3 {
    width: 310px;
}

/* Boostrap modal override */
.modal-content {
  border-radius: 2px;
}

.modal-header {
  border-bottom: 0px;
}

.modal-dialog {
  margin: 20vh 25px;
}

.modal-header .close {
  margin-top: -2px;
  margin-right: -10px;
  width: 25px;
  height: 25px;
  padding-left: 10px;
}


/* Buttons */
.bottomButtonGroup {
  position: relative;
  margin-top: 90px;
  margin-bottom: 25px;
}

.bottomButtonGroupMap {
  position: relative; 
  bottom: 175px;
}

.bottomButtonGroupRadio {
  position: relative;
  margin-top: 0px;
  margin-bottom: 25px;
}

.bottomButtonGroupResults {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}


.btn-dna-primary {
  position: relative;
  font-weight: bold;
  color: #ffffff;
  background-color: #0073a3;
  border-color: #0073a3;
  border-radius: 2px;
  height: 50px;
  width: 130px;
  padding: 14px 14px;
}
.btn-dna-primary:hover,
.btn-dna-primary:focus,
.btn-dna-primary.focus,
.btn-dna-primary:active,
.btn-dna-primary.active,
.open > .dropdown-toggle.btn-dna-primary {
  color: #ffffff;
  background-color: #005A8A;
  border-color: #005A8A;
}
.btn-dna-primary:active,
.btn-dna-primary.active,
.open > .dropdown-toggle.btn-dna-primary {
  background-image: none;
}
.btn-dna-primary.disabled,
.btn-dna-primary[disabled],
fieldset[disabled] .btn-dna-primary,
.btn-dna-primary.disabled:hover,
.btn-dna-primary[disabled]:hover,
fieldset[disabled] .btn-dna-primary:hover,
.btn-dna-primary.disabled:focus,
.btn-dna-primary[disabled]:focus,
fieldset[disabled] .btn-dna-primary:focus,
.btn-dna-primary.disabled.focus,
.btn-dna-primary[disabled].focus,
fieldset[disabled] .btn-dna-primary.focus,
.btn-dna-primary.disabled:active,
.btn-dna-primary[disabled]:active,
fieldset[disabled] .btn-dna-primary:active,
.btn-dna-primary.disabled.active,
.btn-dna-primary[disabled].active,
fieldset[disabled] .btn-dna-primary.active {
  background-color: #adaeb0;
  border-color: #adaeb0;
}
.btn-dna-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}

.btn-dna-primary.mobileWidth {
  width: 47.5%;
}


.btn-dna-facebook {
  font-weight: bold;
  color: #e8e8e8;
  background-color: #3b5998;
  border-color: #3b5998;
  border-radius: 2px;
  height: 50px;
  padding: 11px 12px 11px 13px;
  margin-right: 10px;
}
.btn-dna-facebook:hover,
.btn-dna-facebook:focus,
.btn-dna-facebook.focus,
.btn-dna-facebook:active,
.btn-dna-facebook.active,
.open > .dropdown-toggle.btn-dna-facebook {
  color: #e8e8e8;
  background-color: #22407F;
  border-color: #22407F;
}
.btn-dna-facebook:active,
.btn-dna-facebook.active,
.open > .dropdown-toggle.btn-dna-facebook {
  background-image: none;
}
.btn-dna-facebook.disabled,
.btn-dna-facebook[disabled],
fieldset[disabled] .btn-dna-facebook,
.btn-dna-facebook.disabled:hover,
.btn-dna-facebook[disabled]:hover,
fieldset[disabled] .btn-dna-facebook:hover,
.btn-dna-facebook.disabled:focus,
.btn-dna-facebook[disabled]:focus,
fieldset[disabled] .btn-dna-facebook:focus,
.btn-dna-facebook.disabled.focus,
.btn-dna-facebook[disabled].focus,
fieldset[disabled] .btn-dna-facebook.focus,
.btn-dna-facebook.disabled:active,
.btn-dna-facebook[disabled]:active,
fieldset[disabled] .btn-dna-facebook:active,
.btn-dna-facebook.disabled.active,
.btn-dna-facebook[disabled].active,
fieldset[disabled] .btn-dna-facebook.active {
  background-color: #adaeb0;
  border-color: #adaeb0;
}
.btn-dna-facebook .badge {
  color: #337ab7;
  background-color: #ffffff;
}


.btn-dna-twitter {
  font-weight: bold;
  color: #e8e8e8;
  background-color: #4099ff;
  border-color: #4099ff;
  border-radius: 2px;
  height: 50px;
  padding: 11px 12px;
}
.btn-dna-twitter:hover,
.btn-dna-twitter:focus,
.btn-dna-twitter.focus,
.btn-dna-twitter:active,
.btn-dna-twitter.active,
.open > .dropdown-toggle.btn-dna-twitter {
  color: #e8e8e8;
  background-color: #2780E6;
  border-color: #2780E6;
}
.btn-dna-twitter:active,
.btn-dna-twitter.active,
.open > .dropdown-toggle.btn-dna-twitter {
  background-image: none;
}
.btn-dna-twitter.disabled,
.btn-dna-twitter[disabled],
fieldset[disabled] .btn-dna-twitter,
.btn-dna-twitter.disabled:hover,
.btn-dna-twitter[disabled]:hover,
fieldset[disabled] .btn-dna-twitter:hover,
.btn-dna-twitter.disabled:focus,
.btn-dna-twitter[disabled]:focus,
fieldset[disabled] .btn-dna-twitter:focus,
.btn-dna-twitter.disabled.focus,
.btn-dna-twitter[disabled].focus,
fieldset[disabled] .btn-dna-twitter.focus,
.btn-dna-twitter.disabled:active,
.btn-dna-twitter[disabled]:active,
fieldset[disabled] .btn-dna-twitter:active,
.btn-dna-twitter.disabled.active,
.btn-dna-twitter[disabled].active,
fieldset[disabled] .btn-dna-twitter.active {
  background-color: #adaeb0;
  border-color: #adaeb0;
}
.btn-dna-twitter .badge {
  color: #337ab7;
  background-color: #ffffff;
}

/* share text in button */
.shareOn {
  display: none;
}

/* arrows in buttons */
.backArrow {
    position: absolute;
  top: 19px;
    width: 15px;
    height: 12px;
    margin-left: -24px;
    background: url('images/Arrow_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.forwardArrow {
    position: absolute;
    top: 19px;
    width: 15px;
    height: 12px;
    margin-left: 10px; 
    background: url('images/Arrow_ICON_NEXT.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;

}



/* input add on areas */
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eeeeee;
    border: 0px;
    border-radius: 4px;
}

.input-group-addon.left {
  padding-left: 20px;
}

.input-group-addon.leftBedroom {
  padding-left: 20px;
  width: 38px;
}

.input-group-addon.right {
  padding: 0px 41px;
}

.input-group-addon.rightMoney {
  padding: 0px 15px;
}

/* icons in right input areas */
.minusStepper {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 36px;
    height: 45px;
    margin-left: -31px;
    background: url('images/Stepper_Minus_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.minusStepper:hover {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 36px;
    height: 45px;
    margin-left: -31px;
    background: url('images/Stepper_Minus_ICON2_Hover.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.minusStepper.disabled, .minusStepper.disabled:hover {
  z-index: 1000;
  cursor: not-allowed;
  position: absolute;
  top: 0px;
    width: 36px;
    height: 45px;
    margin-left: -31px;
    background: url('images/Stepper_Minus_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat; 
}

.plusStepper {
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 41px;
    height: 45px;
    margin-left: 0px;
    background: url('images/Stepper_Plus_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.plusStepper:hover {
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 41px;
    height: 45px;
    margin-left: 0px;
    background: url('images/Stepper_Plus_ICON2_Hover.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.plusStepper.disabled, .plusStepper.disabled:hover {
  cursor: not-allowed;
  position: absolute;
  top: 0px;
    width: 41px;
    height: 45px;
    margin-left: 0px;
    background: url('images/Stepper_Plus_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;  
}






/* icons in left input areas */
.calendarIcon {
  position: absolute;
  top: 0px;
    width: 22px;
    height: 45px;
    margin-left: -10px;
    background: url('images/Calendar_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.locationIcon {
  position: absolute;
  top: 0px;
    width: 22px;
    height: 45px;
    margin-left: -10px;
    background: url('images/Location_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.bedroomIcon {
  position: absolute;
  top: 0px;
    width: 25px;
    height: 45px;
    margin-left: -10px;
    background: url('images/Bedroom_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.peopleIcon {
  position: absolute;
  top: 0px;
    width: 22px;
    height: 45px;
    margin-left: -10px;
    background: url('images/People_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.moneyIcon {
  position: absolute;
  top: 0px;
    width: 10px;
    height: 45px;
    margin-left: -10px;
    background: url('images/Money_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.verifyIcon {
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 24px;
    height: 45px;
    margin-left: -15px;
    background: url('images/Check_Circle_ICON-01_2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.warningIcon {
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 24px;
    height: 45px;
    margin-left: -15px;
    background: url('images/X_Circle_ICON2.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.xIcon {
  cursor: pointer;
  position: absolute;
  top: 0px;
    width: 25px;
    height: 45px;
    margin-left: -20px;
    background: url('images/X_Circle_ICON2_BLACK.svg');
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}



/* form controls */
.form-control {
    height: 45px;
    -webkit-text-fill-color:#686868; /* Override iOS / Android font color change */
    -webkit-opacity:1; /* Override iOS opacity change affecting text & background color */
    color: #686868;
    background-color: #eeeeee;
    background-image: none;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}


.form-control:focus {
  border-color: #eeeeee;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #686868;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #686868;
}
.form-control::-webkit-input-placeholder {
  color: #686868;
}


/* Select 2 control css */
.form-control.select2-container {
  font-size: 16px;
  height: 45px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important; 
}

.form-control .select2-choice {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;  
}

.select2-search {
  padding: 0px;
}

.select2-search input {
  font-size: 16px;
  height: 45px !important;
  padding-left: 11px;
  font-family: inherit;
  font-size: inherit;
  border: 0px; 
  background-color: #eeeeee;
  background-image: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;  
}

.select2-drop {
  font-size: 16px;
  margin-top: -45px;
  -webkit-box-shadow: none; 
  box-shadow: none;
}

.select2-drop-active {
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.select2-results {
  padding: 0px;
  margin: 0px;
  max-height: 135px;
}

.select2-results::-webkit-scrollbar { 
    display: none; 
}


.select2-results li {
  font-size: 16px;
  height: 45px;
  max-height: 45px;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
    background: #eeeeee;
    padding: 13px 11px;
}

.select2-results .select2-result-label {
    padding: 13px 11px 4px;
}

.select2-results .select2-highlighted {
    background: #eeeeee;
    color: #686868;
}

.select2-results li em {
    background: inherit;
    font-style: italic;
}

.select2-no-results {
  cursor: pointer;
}

.select2-container .select2-choice {
  font-size: 16px;  
  height: 45px;
  padding: 9px 0 0 10px;
  border: 0px;
  color: #686868;
  background-image: none;
  background: #eeeeee;
  box-shadow: none;
}

.select2-arrow {
  display: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control.select2-container.select2-dropdown-open {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 0px;
  background-image: none;
}


/* Fade effects */
.fadein {
  display: none;
}

/* Map CSS */
.absolutePostionedDiv {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

/* remove spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}


/* radio button css */
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {   
    cursor: pointer; 
    font-family:"Titillium Web", Helvetica, Sans-Serif;
    color: #686868;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    margin:-3px 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 1px solid #0073a3;
}

input[type="radio"] + label span {
     background-color: none;
}

input[type="radio"]:checked + label span{
     background-color: #0073a3;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}


/* Ad images */
.smallAd {
  display: block;
  width: 300px;
  height: 250px;
}

.largeAd {
  display: none;
}


/* general css for margins and padding */
.marginBottom20 {
  margin-bottom: 20px;
}

.marginBottom40 {
  margin-bottom: 40px;
}

.marginRight10 {
  margin-right: 10px;
}


/* Media Queries */
@media (min-width: 600px) {

  /* Update grid system to have 10% margins and spacing */
  .col-sm-8 {
    width: 80%;
  }
  .col-sm-7 {
    width: 75%;    
  }
  .col-sm-1 {
    width: 5%;        
  }
  .col-sm-offset-2 {
    margin-left: 10%;
  }

  .btn-dna-primary.mobileWidth {
  width: 130px;
  }

  .backArrow {
      left: 27px;
      margin-left: 0px;
  }

  .forwardArrow {
      left: 88px; 
      margin-left: 0px;
  }

  #background, #background li { 
    background: url('images/Illustration_TALL.svg');
    background-color: transparent; 
    background-size: cover; 
    background-position: center bottom; 
    background-repeat: no-repeat; 
  } 
   
  .introHeading {
    font-size: 30px;
    line-height: 1.5;
      margin-top: 75px;
      margin-bottom: 100px;
  }

  .questionHeading {
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
    margin-bottom: 125px;
  }

  .allPaidQuestionHeading {
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
  }

  .pagesCompleted {
    color: #686868;
    font-size: 22px;
    font-weight: 200;
    margin-top: 81px;
    margin-bottom: 125px;
  }

  .questionHeadingExactSmall {
    display: block;
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
    margin-left: 0px;
    margin-bottom: 125px;
  }

  .resultsHeading {
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
    margin-bottom: 18px;
  }

  .modal-dialog {
    margin: 30vh auto;
  }

  .shareOn {
    padding-right: 5px;
    display: inline;
    vertical-align: super;
  }

  .bottomButtonGroupResults {
    margin-top: 55px;
  }

  /* Leaflet override */
  .leaflet-top .leaflet-control {
    margin-top: 81px;
    }

  /* Ad images */
  .smallAd {
    display: none;
  }

  .largeAd {
    display: block;
    width: 550px;
    height: 480px;
  }

}


@media (min-width: 1200px) {

  #background, #background li { 
    background: url('images/Illustration_FULL.svg');
    background-color: transparent; 
    background-size: cover; 
    background-position: center bottom; 
    background-repeat: no-repeat; 
  } 

  .introHeading {
    font-size: 30px;
    line-height: 1.5;
      margin-top: 75px;
      margin-bottom: 100px;
  }

  .questionHeading {
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
    margin-bottom: 90px;
  }

  .pagesCompleted {
    color: #686868;
    font-size: 22px;
    font-weight: 200;
    margin-top: 81px;
    margin-bottom: 90px;
  }


  .questionHeadingExact {
    display: block;
    font-size: 57px;
    font-weight: 200;
    line-height: 1.228;
    margin-top: 75px;
    margin-bottom: 90px;
  }

  .questionHeadingExactSmall {
    display: none;
  }

  .resultsHeading {
    font-size: 57px;
    line-height: 1.228;
    margin-top: 75px;
    margin-bottom: 18px;
  }

}


