{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/bootstrap.css' %}">
	{% block css_block %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/mainNoBottomNav.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block head_js_block %}
	{% endblock %}
		
  </head>

  <body>

	{% block body_block %}
	{% endblock %}


	{% block modal_block %}
	{% endblock %}
	
    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static 'crimemaps/js/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/bootstrap.min.js' %}"></script>
	{% block js_block %}
	{% endblock %}

		
  </body>
</html>
