{% extends 'crimemaps/baseNoBottomNavNYC.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/Control.Geocoder.css' %}">	
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-almostLeft">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View data for {{ startDate|date:"F j, Y" }} - {{ endDate|date:"F j, Y" }}<span class="caret"></span></a>
              <ul class="dropdown-menu append" role="menu">
              </ul>
            </li>
          </ul>
      </div>
    </nav>

        <!-- #popup-wrapper-->
        <div id="popup-wrapper" class="popup-wrapper">
            <div class="popup-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="close right" id="popup-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="descriptionTitle"></div>
                            <div id="description"></div>
                            <p><small>Source: NYPD Precincts</small></p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- /#popup-wrapper-->

        <!-- Map Content -->
        <div id="map" class="map"></div>



{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
	<!-- create locations geojsons-->
	<script type="text/javascript">
        var startDate = '{{ startDate }}';
        var endDate = '{{ endDate }}';
        var center = '{{ center }}';
        var NYC_Precincts = "{% static 'crimemaps/data/NYC_Precincts.topojson' %}";
	</script>
	<script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/Control.Geocoder.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/turf.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoBlotterMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/blotterApp.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/controllers.js' %}"></script>
  <script type="text/javascript">
    $( document ).ready(function() {
      // make date and center links
      var appendLis = ''; 
      {% for date in dates %}
          appendLis += '<li><a href="/blotter/?startDate={{ date.start_date|date:"F j, Y" }}&endDate={{ date.end_date|date:"F j, Y" }}&center='+ center +'">{{ date.start_date|date:"F j, Y" }} - {{ date.end_date|date:"F j, Y" }}</a></li>';
      {% endfor %}
      $('.append').html(appendLis);
    });
  </script>
{% endblock %}


	
	

