{% extends 'crimemaps/baseNoBottomNavCHI_TrainApp.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Where do you stand or sit on the train? | DNAinfo{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}

    <ul id="backgroundColor">
      <li></li>
    </ul>


    <!-- Content -->
    <div class="container-fluid grey-background">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p id="trainLine" class="text-center text-uppercase trainLineHeading"></p>
                <p class="text-center heading">The Train Is Empty. Click Your Favorite Spot.</p>
                <p class="text-center subheading"><em>
                    Click or tap on your favorite seat. If you prefer to stand, click on your preferred spot.
                </em></p>                
                <p id="scrollText" class="text-center subheading"><em>
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Scroll to See Ends of Train Car <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </em></p>                
                <!--<p class="text-center subheading"><em>Direction of Travel</em> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></p>-->
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12">
                <div id="trainLineImage" class="trainLineImage center-block slide-in">
                {% if CHItrainSitStandObject.train == "Green Line" or CHItrainSitStandObject.train == "Pink Line" or CHItrainSitStandObject.train == "Red Line" or CHItrainSitStandObject.train == "Yellow Line" or CHItrainSitStandObject.train == "Purple Line" %}
                    <img id="CHI_L_GPRYP_Lines" src="{% static 'crimemaps/css/images/CHI_L_GPRYP_Lines_Empty_Car.png' %}" usemap="#CHI_L_GPRYP_Lines">
                    <map name="CHI_L_GPRYP_Lines">
                        <area data-key="1,edge-seat" href="#" shape="rect" coords="146,40,182,90" />
                        <area data-key="2,middle-seat" href="#" shape="rect" coords="181,40,217,90" />
                        <area data-key="3,middle-seat" href="#" shape="rect" coords="216,40,252,90" />
                        <area data-key="4,edge-seat" href="#" shape="rect" coords="251,40,287,90" />
                        <area data-key="5,window-seat" href="#" shape="rect" coords="488,33,539,70" />
                        <area data-key="6,asile-seat" href="#" shape="rect" coords="488,69,539,106" />
                        <area data-key="7,edge-seat" href="#" shape="rect" coords="551,34,588,84" />
                        <area data-key="8,middle-seat" href="#" shape="rect" coords="586,34,624,84" />
                        <area data-key="9,middle-seat" href="#" shape="rect" coords="621,34,658,84" />
                        <area data-key="10,middle-seat" href="#" shape="rect" coords="656,34,694,84" />
                        <area data-key="11,middle-seat" href="#" shape="rect" coords="691,34,729,84" />
                        <area data-key="12,middle-seat" href="#" shape="rect" coords="726,40,763,90" />
                        <area data-key="13,edge-seat" href="#" shape="rect" coords="762,40,799,90" />
                        <area data-key="14,edge-seat" href="#" shape="rect" coords="911,40,948,90" />
                        <area data-key="15,middle-seat" href="#" shape="rect" coords="947,40,984,90" />
                        <area data-key="16,middle-seat" href="#" shape="rect" coords="982,40,1019,90" />
                        <area data-key="17,middle-seat" href="#" shape="rect" coords="1017,40,1054,90" />
                        <area data-key="18,middle-seat" href="#" shape="rect" coords="1051,40,1088,90" />
                        <area data-key="19,edge-seat" href="#" shape="rect" coords="1087,40,1124,90" />
                        <area data-key="20,edge-seat" href="#" shape="rect" coords="1087,179,1124,229" />
                        <area data-key="21,middle-seat" href="#" shape="rect" coords="1051,179,1088,229" />
                        <area data-key="22,middle-seat" href="#" shape="rect" coords="1017,179,1054,229" />
                        <area data-key="23,middle-seat" href="#" shape="rect" coords="982,179,1019,229" />
                        <area data-key="24,middle-seat" href="#" shape="rect" coords="947,179,984,229" />
                        <area data-key="25,edge-seat" href="#" shape="rect" coords="912,179,949,229" />
                        <area data-key="26,edge-seat" href="#" shape="rect" coords="762,179,799,229" />
                        <area data-key="27,middle-seat" href="#" shape="rect" coords="726,179,763,229" />
                        <area data-key="28,middle-seat" href="#" shape="rect" coords="691,185,728,235" />
                        <area data-key="29,middle-seat" href="#" shape="rect" coords="656,185,693,235" />
                        <area data-key="30,middle-seat" href="#" shape="rect" coords="621,185,658,235" />
                        <area data-key="31,middle-seat" href="#" shape="rect" coords="586,185,623,235" />
                        <area data-key="32,edge-seat" href="#" shape="rect" coords="550,185,587,235" />
                        <area data-key="33,asile-seat" href="#" shape="rect" coords="489,163,545,200" />
                        <area data-key="34,window-seat" href="#" shape="rect" coords="489,199,545,236" />
                        <area data-key="35,edge-seat" href="#" shape="rect" coords="252,178,289,229" />
                        <area data-key="36,middle-seat" href="#" shape="rect" coords="216,178,253,229" />
                        <area data-key="37,middle-seat" href="#" shape="rect" coords="181,178,218,229" />
                        <area data-key="38,edge-seat" href="#" shape="rect" coords="146,178,183,229" />
                        <area data-key="39,end-standing" href="#" shape="rect" coords="48,163,117,226" />
                        <area data-key="40,end-standing" href="#" shape="rect" coords="45,107,139,161" />
                        <area data-key="41,middle-standing" href="#" shape="rect" coords="142,108,290,162" />
                        <area data-key="42,door-standing" href="#" shape="rect" coords="294,35,393,91" />
                        <area data-key="43,middle-door-standing" href="#" shape="rect" coords="293,91,392,178" />
                        <area data-key="44,door-standing" href="#" shape="rect" coords="293,179,392,234" />
                        <area data-key="45,side-standing" href="#" shape="rect" coords="394,50,484,105" />
                        <area data-key="46,middle-standing" href="#" shape="rect" coords="394,108,544,163" />
                        <area data-key="47,side-standing" href="#" shape="rect" coords="393,164,483,220" />
                        <area data-key="48,middle-standing" href="#" shape="rect" coords="548,101,657,168" />
                        <area data-key="49,middle-standing" href="#" shape="rect" coords="659,102,797,169" />
                        <area data-key="50,door-standing" href="#" shape="rect" coords="804,32,904,89" />
                        <area data-key="51,middle-door-standing" href="#" shape="rect" coords="804,90,903,177" />
                        <area data-key="52,door-standing" href="#" shape="rect" coords="806,178,902,233" />
                        <area data-key="53,middle-standing" href="#" shape="rect" coords="914,102,1051,168" />
                        <area data-key="54,end-standing" href="#" shape="rect" coords="1052,101,1152,168" />
                    </map>
                {% else %}
                {% endif %}
                </div>
            </div>
        </div>
        <!--<div class="row">
            <h3 class="platform text-center text-uppercase">Platform</h3>
        </div>-->
        <nav id="bottomNav" class="navbar navbar-default navbar-fixed-bottom">
          <div class="container-fluid">
            <!--<ol class="stationDots">
                <li></li>
                <li></li>
                <li></li>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>-->
            <p class="text-center margin30top">
                <form id="target" method="post" action=".">
                    <div id="form" class="hidden">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <p class="text-center margin30top">
                        <a href="/chi-l/length/{{ CHItrainSitStandObject.id }}/" class="btn btn-primary btn-lg">Back</a>
                        <input id="formButton" type="submit" class="btn btn-primary btn-lg disabled" value="Next" />
                    </p>
                </form>
            </p>
          </div> <!-- /.container-fluid -->
        </nav>

    </div>

{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    var lineSelected = "{{ CHItrainSitStandObject.train }}";
    if (lineSelected == "Red Line") {
        var color = "red";
        var bottomNavColor = "redBorder";
        var stationDotColor = "redDot";
        // bind image
        var image = $('#CHI_L_GPRYP_Lines'); 
        // alt image
        var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Blue Line") {
        var color = "blue";
        var bottomNavColor = "blueBorder";
        var stationDotColor = "blueDot";          
        // bind image
        //var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        //var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Green Line") {
        var color = "green";
        var bottomNavColor = "greenBorder";
        var stationDotColor = "greenDot";          
        // bind image
        var image = $('#CHI_L_GPRYP_Lines');
        // alt image
        var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Yellow Line") {
        var color = "yellow";
        var bottomNavColor = "yellowBorder";
        var stationDotColor = "yellowDot";          
        // bind image
        var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Orange Line") {
        var color = "orange";
        var bottomNavColor = "orangeBorder";
        var stationDotColor = "orangeDot";          
        // bind image
        //var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        //var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Brown Line") {
        var color = "brown";
        var bottomNavColor = "brownBorder";
        var stationDotColor = "brownDot";          
        // bind image
        //var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        //var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Purple Line") {
        var color = "purple";
        var bottomNavColor = "purpleBorder";
        var stationDotColor = "purpleDot";          
        // bind image
        var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    } else if (lineSelected == "Pink Line") {
        var color = "pink";
        var bottomNavColor = "pinkBorder";
        var stationDotColor = "pinkDot";          
        // bind image
        var image = $('#CHI_L_GPRYP_Lines');        
        // alt image
        var altImage = '/static/crimemaps/css/images/CHI_L_GPRYP_Lines_First_Choice.png';
    }

    var seatSelectedAlready = "{{ CHItrainSitStandObject.positionOne }}";
    $( document ).ready(function() {
        $('#trainLine').text(lineSelected);
        $('#trainLine').addClass(color);
        $('#bottomNav').addClass(bottomNavColor);
        $('.stationDots .active').addClass(stationDotColor);
    });
</script>
<script type="text/javascript" src="{% static 'crimemaps/js/modernizr-touch-pointer.js' %}"></script>
<script type="text/javascript" src="{% static 'crimemaps/js/jquery.imagemapster.min.js' %}"></script>
<script type="text/javascript" src="{% static 'crimemaps/js/chi_l_empty_car.js' %}"></script>
{% endblock %}


	
	

