{% extends 'crimemaps/baseNoBottomNavCHI_TrainApp.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Where do you stand or sit on the train? | DNAinfo{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
<script src="/static/crimemaps/js/jquery.responsiveiframe.js"></script>
<script>
	var ri = responsiveIframe();
	ri.allowResponsiveEmbedding();
	window.addEventListener("message", ri.messageParent, false);
</script>
{% endblock %}
	
{% block body_block %}

    <ul id="background">
      <li></li>
    </ul>

    <button id="helpButton" class="btn btn-danger" data-toggle="modal" data-target="#help">Help!</button>

    <!-- Content -->
    <form method="post" action=".">
        <div class="container-fluid">
            <div id="mainContent" class="row">
                <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 formBackground">
                    <p id="trainLine" class="text-center text-uppercase trainLineHeading"></p>
                    <p class="text-center heading">What time do you ride?</p>
                    <div class="margin30top margin30left">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                    </div>
                    
                </div>
            </div>
            <nav id="bottomNav" class="navbar navbar-default navbar-fixed-bottom">
              <div class="container-fluid">
                <!--<ol class="stationDots">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>-->
                <p class="text-center margin25top">
                    <a href="/chi-l/line/{{ CHItrainSitStandObject.id }}/" class="btn btn-primary btn-lg">Back</a>
                    <input type="submit" class="btn btn-primary btn-lg disabled" value="Next" />
                </p>
              </div> <!-- /.container-fluid -->
            </nav>
        </div>
    </form>


{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    var lineSelected = "{{ CHItrainSitStandObject.train }}";
    if (lineSelected == "Red Line") {
        var color = "red";
        var bottomNavColor = "redBorder";
        var stationDotColor = "redDot";  
    } else if (lineSelected == "Blue Line") {
        var color = "blue";
        var bottomNavColor = "blueBorder";
        var stationDotColor = "blueDot";          
    } else if (lineSelected == "Green Line") {
        var color = "green";
        var bottomNavColor = "greenBorder";
        var stationDotColor = "greenDot";          
    } else if (lineSelected == "Yellow Line") {
        var color = "yellow";
        var bottomNavColor = "yellowBorder";
        var stationDotColor = "yellowDot";          
    } else if (lineSelected == "Orange Line") {
        var color = "orange";
        var bottomNavColor = "orangeBorder";
        var stationDotColor = "orangeDot";          
    } else if (lineSelected == "Brown Line") {
        var color = "brown";
        var bottomNavColor = "brownBorder";
        var stationDotColor = "brownDot";          
    } else if (lineSelected == "Purple Line") {
        var color = "purple";
        var bottomNavColor = "purpleBorder";
        var stationDotColor = "purpleDot";          
    } else if (lineSelected == "Pink Line") {
        var color = "pink";
        var bottomNavColor = "pinkBorder";
        var stationDotColor = "pinkDot";          
    }


    $( document ).ready(function() {
        $('#trainLine').text(lineSelected);
        $('#trainLine').addClass(color);
        $('#bottomNav').addClass(bottomNavColor);
        $('.stationDots .active').addClass(stationDotColor)

        if ($("input:radio[name='rideTime']").is(":checked")) {
        	$('.btn').removeClass('disabled');
        } 

        $( ".form-group" ).change(function() {
        	$('.btn').removeClass('disabled');
        });

    });
</script>
{% endblock %}


	
	

