{% extends 'crimemaps/baseNoBottomNavCHINoNavs.html' %}
{% load staticfiles %}

{% block title %}Cook County Real Estate Sales | DNAinfo{% endblock %}


{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/Control.Geocoder.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/d3.slider.css' %}">    
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}

        <!-- #popup-wrapper-->
        <div id="popup-wrapper" class="popup-wrapper popup-wrapper-open">
            <div class="popup-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                          <a id="popup-expand" class="btn btn-default btn-xs pull-right" href="#" role="button">Expand this window</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Filter Results:</h4>
                            <form id="filter-form">
                              <p><strong>Search by Property Type</strong></p>
                              <select class="form-control" id="propertyType">
                                <option value="all">All Properties</option>
                                <option value="all_residential">All Residential</option>
                                <option value="residential_condo">Condos</option>
                                <option value="residential_multifamily">Multifamily Residential</option>
                                <option value="residential_single_family">Single-Family Residential</option>
                                <option value="commercial_industrial">Commercial/Industrial</option>
                                <option value="vacant">Vacant/Parking</option>
                              </select>
                              <br />
                              <p><strong>By Date Sold:</strong></p>
                              <select class="form-control" id="monthYear">
                                {% for date in dates %}
                                  <option value="{{ date.0 }}">{{ date.1 }}</option>
                                {% endfor %}
                              </select>
                              <br />
                              <p><strong>By Minimum Sale Price:</strong></p>
                              <select class="form-control" id="minamount">
                                <option value="0">$0</option>
                                <option value="50000">$50,000</option>
                                <option value="100000">$100,000</option>
                                <option value="250000">$250,000</option>
                                <option value="500000">$500,000</option>
                                <option value="1000000">$1 Million</option>
                                <option value="2000000">$2 Million</option>
                                <option value="5000000">$5 Million</option>
                                <option value="10000000">$10 Million</option>
                              </select>
                              <br />
                              <p><strong>By Maximum Sale Price:</strong></p>
                              <select class="form-control" id="maxamount">
                                <option value="1000000000000">Greater than $10 Million</option>
                                <option value="10000000">$10 Million</option>
                                <option value="5000000">$5 Million</option>
                                <option value="2000000">$2 Million</option>
                                <option value="1000000">$1 Million</option>
                                <option value="500000">$500,000</option>
                                <option value="250000">$250,000</option>
                                <option value="100000">$100,000</option>
                                <option value="50000">$50,000</option>
                              </select>
                            </form>
                            <br />                        
                        </div>
                        <div class="col-sm-6">
                            <h4>Legend</h4>
                            <div id="legend">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="legend-bubbles">
                                    <p>Sale Amount</p>
                                    <ul>
                                      <li>$0</li>
                                      <li class="graph-re"><img class="img-responsive" src="{% static 'crimemaps/css/images/bubbles_real_estate.png' %}" /></li>
                                      <li id="legend-max-num">&gt;$10 Million</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="legend-category">
                                  <p>Property Type</p>
                                      <ul>
                                        <li><div class="bullet" style="background: #984EA3;"></div> Condos</li>
                                        <li><div class="bullet" style="background: #FF7F00;"></div> Multifamily Residential</li>
                                        <li><div class="bullet" style="background: #FFFF33;"></div> Single-Family Residential</li>
                                        <li><div class="bullet" style="background: #E41A1C;"></div> Commercial</li>
                                        <li><div class="bullet" style="background: #377EB8;"></div> Industrial</li>
                                        <li><div class="bullet" style="background: #A65628;"></div> Vacant/Parking/Land</li>
                                        <li><div class="bullet" style="background: #4DAF4A;"></div> Other</li>
                                      </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                    <p><small>Source: Cook County Recorder of Deeds and Cook County Property Tax Portal</small></p>
                                </div>
                              </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#popup-wrapper-->

        <!-- Map Content -->
        <div id="map" class="map map-popup-wrapper-open"></div>


{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
	<script type="text/javascript">
        var monthYear = '{{ monthYear }}';
        var chiCommunities = "{% static 'crimemaps/data/chi_acs_2013_commareas_commute.topojson' %}";
	</script>
	<script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/d3.slider.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/Control.Geocoder.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/turf.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoChiCookCounty.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/chicookcountyapp.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/chiCookCountyControllers.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0mofJLHQmeTcwB0C0pkTxv-rPJ1fW4H0">
  </script>
{% endblock %}


	
	

