{% extends 'crimemaps/baseNoBottomNav.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.draw.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js_block %}
<meta property="fb:app_id" content="406014149589534" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="https://visualizations.dnainfo.com/chineighshow/{{ id }}/" /> 
<meta property="og:title"  content="DNAinfo Draw Your Chicago Neighborhood Maps" /> 
<meta property="og:image"  content="{% static 'crimemaps/css/images/DNA_DYOM_CHI.png' %}" />
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '406014149589534',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
	
{% block body_block %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">DNAinfo Chicago | Drawing <span class="neighborhoodName"></span></div>
        </div>
      </div> 
    </nav>


        <!-- Map Content -->
        <div id="map" class="map"></div>
        <button id="imFinished" class="btn btn-success hidden" type="submit">I'm Finished</button>
        <button id="startOver" class="btn btn-warning hidden" type="submit">Start Over</button>
        <a id="showShareFB" class="btn btn-primary hidden" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
        <a id="showShareTwitter" class="btn btn-info hidden" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        <a id="viewOnDNA" class="btn btn-danger hidden" href="/chineighshow/{{ id }}/" role="button" target="_blank">View on DNAinfo</a>


{% endblock %}

{% block modal_block %}
<!-- intro how to modal -->
<div class="modal fade" id="introduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">LET’S SETTLE IT: <span class="neighborhoodName"></span>'S BORDERS</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, drag the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>

        <div class="clearfix"></div>
        <button id="closeIntroModal" class="btn btn-danger btn-lg center-block" type="submit">Go For It!</button>
      </div>
    </div>
  </div>
</div>

<!-- intro how to modal -->
<div class="modal fade" id="introductionTouch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">LET’S SETTLE IT: <span class="neighborhoodName"></span>'S BORDERS</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, tap the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>
        <div class="clearfix"></div>
        <button id="closeIntroModalTouch" class="btn btn-danger btn-lg center-block" type="submit">Go For It!</button>
      </div>
    </div>
  </div>
</div>

<!-- share modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">Share Your Version of <span class="neighborhoodName"></span></h3>
        <p>Check out how your version of <span class="neighborhoodName"></span> compares to your neighbor's. Don't like what you see? Let them hear it!</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg facebookButtonModal" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
          <a class="btn btn-info btn-lg twitterButtonModal" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- share first one modal -->
<div class="modal fade" id="shareFirstOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">Share Your Version of <span class="neighborhoodName"></span></h3>
        <p>You’re a pioneer: The first person to map <span class="neighborhoodName"></span>. Share your map with neighbors and they’ll compare their borders with yours.</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg facebookButtonModal" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
          <a class="btn btn-info btn-lg twitterButtonModal" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
  <script type="text/javascript" src="{% static 'crimemaps/js/jquery.cookie.js' %}"></script>
	<script type="text/javascript">
    var id = "{{ id }}"
    var CHI_Neighborhoods = "{% static 'crimemaps/data/chi_acs_2013_commareas_commute.topojson' %}";
    var neighborhoodLive = "{{ neighborhoodDrawObject.neighborhoodLive.dnaurl }}"
    var otherNeighborhood = "{{ neighborhoodDrawObject.otherNeighborhood }}";
	</script>
	<script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.draw.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoCHINeighDraw.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/chineighdrawapp.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/chidrawMapControllers.js' %}"></script>
{% endblock %}


	
	

