{% extends 'crimemaps/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/Control.Geocoder.css' %}">	
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-almostLeft">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View four weeks ending on {{ endDate|date:"F j, Y" }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for date in dates %}
                    <li><a href="/compstat/?startDate={{ date.start_date }}&endDate={{ date.end_date }}">{{ date.end_date }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
      </div>
    </nav>

        <!-- #popup-wrapper-->
        <div id="popup-wrapper" class="popup-wrapper">
            <div class="popup-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="close right" id="popup-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="descriptionTitle"></div>
                            <div id="description"></div>
                        </div>
                        <div class="col-sm-6">
                            <p><strong>Legend</strong></p>
                            <div id="legend">
                                <div class="legend-cloropleth">
                                    <p>Percentage Change in Total Major Crimes from Previous Four Weeks</p>
                                    <ul>
                                        <li class="min">&gt;20% decrease</li>
                                        <li class="max">&gt;20% increase</li>
                                        <li class="graph">
                                            <div class="colors">
                                                <div class="quartile" style="background-color:#4d4d4d"></div>
                                                <div class="quartile" style="background-color:#999999"></div>
                                                <div class="quartile" style="background-color:#e0e0e0"></div>
                                                <div class="quartile" style="background-color:#fddbc7"></div>
                                                <div class="quartile" style="background-color:#ef8a62"></div>
                                                <div class="quartile" style="background-color:#b2182b"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#popup-wrapper-->

        <!-- Map Content -->
        <div id="map" class="map"></div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">DNAinfo New York</div>
        </div>
      </div> 
    </nav>
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
	<!-- create locations geojsons-->
	<script type="text/javascript">
        var startDate = '{{ startDate }}';
        var endDate = '{{ endDate }}';
		var NYC_Precincts = "{% static 'crimemaps/data/NYC_Precincts.topojson' %}";
	</script>
	<script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/Control.Geocoder.js' %}"></script>
    <script type="text/javascript" src="{% static 'crimemaps/js/leaflet-pip.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoCompstatMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/compstatApp.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/controllers.js' %}"></script>
{% endblock %}


	
	

