{% extends 'crimemaps/base.html' %}
{% load staticfiles %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">DNAinfo New York | Crime Map URL and iframe Builder</div>
        </div>
      </div> 
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>Create Compstat Map URL/iframe</h3>
          <p>Select the week below from the dropdown menu to create a URL and an iframe for this map.</p> 
          <div class="btn-group">
            <button id="compstatMap" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Select Week <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for date in compstatDates %}
                    <li><a class="compstatLink" href="#" data-start-date="{{ date.start_date }}" data-end-date="{{ date.end_date }}">four weeks ending on {{ date.end_date }}</a></li>
                {% endfor %}
            </ul>
          </div>
          <div id="compstatUrl" class="margin10top"></div>
          <div id="comsptatIframe"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Create DoITT Map URL/iframe</h3>
          <p>Select a month/year below from the dropdown menu to create a URL and an iframe for this map.</p> 
          <div class="btn-group">
            <button id="doittMap" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Select Month/Year <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for date in doittDates %}
                    <li><a class="doittLink" href="#" data-month-year="{{ date|date:'F Y' }}">{{ date|date:'F Y' }}</a></li>
                {% endfor %}
            </ul>
          </div>
          <div id="doittUrl" class="margin10top"></div>
          <div id="doittIframe"></div>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Create Blotter Map URL/iframe</h3>
          <p>Select a week below from the dropdown menu to create a URL and an iframe for this map.</p> 
          <div class="btn-group">
            <button id="blotterMap" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Select Week <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for date in blotterDates %}
                    <li><a class="blotterLink" href="#" data-start-date="{{ date.start_date|date:'F j, Y' }}" data-end-date="{{ date.end_date|date:'F j, Y' }}">{{ date.start_date|date:"F j, Y" }} - {{ date.end_date|date:"F j, Y" }}</a></li>
                {% endfor %}
            </ul>
          </div>
          <div id="blotterUrl" class="margin10top"></div>
          <div id="blotterIframe"></div>
        </div>        
      </div>
    </div>

{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'crimemaps/js/linkiframebuilder.js' %}"></script>
{% endblock %}


	
	

