{% extends 'crimemaps/baseNoBottomNav.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.draw.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js_block %}
<meta property="fb:app_id" content="406014149589534" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="https://visualizations.dnainfo.com/nycneighshow/{{ id }}/" /> 
<meta property="og:title"  content="DNAinfo Draw Your NYC Neighborhood Maps" /> 
<meta property="og:image"  content="{% static 'crimemaps/css/images/DNA_DYOM_NYC.png' %}" /><script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '406014149589534',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
	
{% block body_block %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">DNAinfo New York | Drawing <span class="neighborhoodName"></span></div>
        </div>
      </div> 
    </nav>


        <!-- Map Content -->
        <div id="map" class="map"></div>
        <button id="imFinished" class="btn btn-success hidden" type="submit">I'm Finished</button>
        <button id="startOver" class="btn btn-warning hidden" type="submit">Start Over</button>
        <div id="fb-root"></div>

{% endblock %}

{% block modal_block %}
<!-- intro how to modal -->
<div class="modal fade" id="introduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">Drawing <span class="neighborhoodName"></span></h3>
        <p>
          Begin drawing <span class="neighborhoodName"></span> by clicking on the <span class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top"><a class="leaflet-draw-draw-polygon" href="#" title="Draw a polygon"></a></span> icon under the zoom tools in the upper-left corner. Draw a full polygon by following the instructions next to your cursor.
        </p>
        <p>
          Once complete, click <strong>I'm Finished</strong> if you're satisfied with your work, or <strong>Start Over</strong> if you need to try again.              
        </p>
        <p>
          After you're finished, you'll see the "official" <span class="neighborhoodName"></span> neighborhood boundary appear alonside your drawing. You can share this completed map to Facebook or Twitter.
        </p>

        <div class="clearfix"></div>
        <button id="closeIntroModal" class="btn btn-danger btn-lg center-block" type="submit">Go For It!</button>
      </div>
    </div>
  </div>
</div>

<!-- share modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <h3 class="text-center text-uppercase">Share Your Version of <span class="neighborhoodName"></span></h3>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="https://www.facebook.com/dialog/feed?app_id=406014149589534&display=popup&caption=Check%20out%20the%20map%20of%20my%20neighborhood%20I%20drew%20compared%20to%20the%20official%20neighborhood:&link=https%3A%2F%2Fvisualizations.dnainfo.com%2Fnycneighshow%2F{{ id }}%2F&redirect_uri=https%3A%2F%2Fvisualizations.dnainfo.com%2Fnycneighshow%2F{{ id }}%2F" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
          <a class="btn btn-info btn-lg" href="https://twitter.com/share?url=https%3A%2F%2Fvisualizations.dnainfo.org%2Fnycneighshow%2F{{ id }}%2F&via=DNAinfo&text=Check%20out%20the%20map%20of%20my%20neighborhood%20I%20drew%20compared%20to%20the%20official%20neighborhood:" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
  <script type="text/javascript" src="{% static 'crimemaps/js/jquery.cookie.js' %}"></script>
	<script type="text/javascript">
    var id = "{{ id }}"
    var NYC_Neighborhoods = "{% static 'crimemaps/data/nyc_acs_2013_neighareas_commute.topojson' %}";
    var neighborhoodLive = "{{ neighborhoodDrawObject.neighborhoodLive.dnaurl }}";
	</script>
  <script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/leaflet.draw.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoNYCNeighDraw.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/nycneighdrawapp.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/nycdrawMapControllers.js' %}"></script>
{% endblock %}


	
	

