{% extends 'crimemaps/baseNoBottomNavNYC.html' %}
{% load staticfiles %}

{% block title %}Where Exactly Is Your Neighborhood | DNAinfo{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.draw.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js_block %}
<meta property="fb:app_id" content="406014149589534" /> 
<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="https://visualizations.dnainfo.com/nycneighshow/{{ id }}/" /> 
<meta property="og:description" content="Everyone argues about the borders of New York's neighborhoods. Now we're asking you to settle it." />
<meta property="og:title"  content="Where Exactly Is Your Neighborhood?" /> 
<meta property="og:image"  content="https://visualizations.dnainfo.com/static/crimemaps/css/images/DNA_DYOM_NYC_1.png" /><script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '406014149589534',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}
	
{% block body_block %}
<nav class="navbar navbar-default-newdna">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a href="http://www.dnainfo.com/new-york/"><img src="{% static 'crimemaps/css/images/DNAinfo_Logo_3C.svg' %}" class="navbar-brand-newdna"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse">
      <p class="navbar-text-newdna text-center">Drawing <span class="neighborhoodName"></span></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


        <!-- Map Content -->
        <div id="map" class="map"></div>
        <button id="imFinished" class="btn btn-success hidden" type="submit">I'm Finished</button>
        <button id="startOver" class="btn btn-warning hidden" type="submit">Start Over</button>
        <a id="showShareFB" class="btn btn-primary hidden share" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
        <a id="showShareTwitter" class="btn btn-info hidden share" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        <a id="viewOnDNA" class="btn btn-danger hidden" href="/nycneigh/" role="button">Try Again</a>
        <button id="helpButton" class="btn btn-danger" type="submit">Help!</button>


{% endblock %}

{% block modal_block %}
<!-- intro how to modal -->
<div class="modal fade" id="introduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">LET’S SETTLE IT: <span class="neighborhoodName"></span>'S BORDERS</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, drag the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>

        <div class="clearfix"></div>
        <button id="closeIntroModal" class="btn btn-danger btn-lg center-block" type="submit">Go For It!</button>
      </div>
    </div>
  </div>
</div>

<!-- intro how to modal -->
<div class="modal fade" id="introductionTouch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">LET’S SETTLE IT: <span class="neighborhoodName"></span>'S BORDERS</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, tap the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>
        <div class="clearfix"></div>
        <button id="closeIntroModalTouch" class="btn btn-danger btn-lg center-block" type="submit">Go For It!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">Directions</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, drag the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>

        <div class="clearfix"></div>
        <button class="btn btn-danger btn-lg center-block" type="submit" data-dismiss="modal" aria-label="Close">Return to Map</button>
      </div>
    </div>
  </div>
</div>

<!-- intro how to modal -->
<div class="modal fade" id="helpTouch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">Directions</h3>
        <p>
          Start drawing your version of <span class="neighborhoodName"></span> by clicking on the pen tool to the left. Then, tap the pen tool all along the outlines of the neighborhood until the entire area you've chosen is shaded in red.
        </p>
        <p>
          When you're done, select <strong>I'm Finished</strong> if you like the result, or <strong>Start Over</strong> if you need to try again.        
        </p>
        <p>
          When you're done we'll show your where other <span class="neighborhoodName"></span> residents think the neighborhood's boundaries are. We'll share a consensus about the neighborhood lines in the weeks to come, so spread the word when you're done!
        </p>
        <div class="clearfix"></div>
        <button class="btn btn-danger btn-lg center-block" type="submit" data-dismiss="modal" aria-label="Close">Return to Map</button>
      </div>
    </div>
  </div>
</div>

<!-- share modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">Share Your Version of <span class="neighborhoodName"></span></h3>
        <p>Check out how your version of <span class="neighborhoodName"></span> compares to your neighbors'. Don't like what you see? Let them hear it!</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg facebookButtonModal share" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
          <a class="btn btn-info btn-lg twitterButtonModal share" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        </p>
        <p class="text-center">
          <a class="btn btn-danger btn-lg" href="http://www.dnainfo.com/new-york/20150811/midtown/draw-where-you-think-your-neighborhood-borders-are-on-this-map" role="button">Return to Story</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- share first one modal -->
<div class="modal fade" id="shareFirstOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">Share Your Version of <span class="neighborhoodName"></span></h3>
        <p>You’re a pioneer: The first person to map <span class="neighborhoodName"></span>. Share your map with neighbors and they’ll compare their borders with yours.</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg facebookButtonModal share" href="#" role="button" target="_blank">Share on <i class="fa fa-facebook-official fa-lg"></i></a>
          <a class="btn btn-info btn-lg twitterButtonModal share" href="#" role="button" target="_blank">Share on <i class="fa fa-twitter fa-lg"></i></a>
        </p>
        <p class="text-center">
          <a class="btn btn-danger btn-lg" href="http://www.dnainfo.com/new-york/20150811/midtown/draw-where-you-think-your-neighborhood-borders-are-on-this-map" role="button">Return to Story</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- share thank you -->
<div class="modal fade" id="shareThankYou" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center text-uppercase">Thanks!</h3>
        <p class="text-center">We'll share the results of your boundaries soon.</p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="/nycneigh/" role="button">Try Again</a>
          <a class="btn btn-danger btn-lg" href="http://www.dnainfo.com/new-york/" role="button">Return to DNAinfo</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js_block %}
  <script type="text/javascript" src="{% static 'crimemaps/js/jquery.cookie.js' %}"></script>
	<script type="text/javascript">
    var id = "{{ id }}"
    var NYC_Neighborhoods = "{% static 'crimemaps/data/nyc_acs_2013_neighareas_commute.topojson' %}";
    var neighborhoodLive = "{{ neighborhoodDrawObject.neighborhoodLive.dnaurl }}";
    var otherNeighborhood = "{{ neighborhoodDrawObject.otherNeighborhood }}";

	</script>
  <script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/leaflet.draw.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoNYCNeighDraw.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/nycneighdrawapp.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/nycdrawMapControllers.js' %}"></script>
{% endblock %}


	
	

