{% extends 'crimemaps/baseNoBottomNavNYC.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load django_select2_tags %}

{% block title %}Where Exactly Is Your Neighborhood | DNAinfo{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crimemaps/css/leaflet.label.css' %}">
    {% import_django_select2_css %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	
{% block body_block %}
    <div id="chooseAnotherNeighborhood">
      <form class="navbar-form form-inline pull-left" method="post" action=".">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" class="btn btn-default btn-sm" value="Go!" />
      </form>
    </div>


        <!-- #popup-wrapper-->
        <div id="popup-wrapper" class="popup-wrapper popup-wrapper-open">
            <div class="popup-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                          <a id="popup-expand" class="btn btn-default btn-xs pull-right" href="#" role="button">Expand this window</a>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div id="legendWrapper" class="hidden">
                          <h4 id="legendTitle">Legend</h4>
                          <div id="legend">
                            <div class="legend-cloropleth">
                                <p id="legendText">Number of DNAinfo readers who included this area in their drawings</p>
                                <ul>
                                    <li class="maxWithBreaks"></li>
   
                                    <li class="breaks">
                                        <div class="numbers">
                                            <div class="quartile">1</div>
                                            <div class="quartile first"></div>
                                            <div class="quartile second"></div>
                                            <div class="quartile third"></div>
                                            <div class="quartile fourth"></div>
                                            <div class="quartile fifth"></div>
                                        </div>                                  
                                    </li>
                                    <li class="graph">
                                        <div class="colors">
                                            <div class="quartile" style="background-color:#fde5da"></div>
                                            <div class="quartile" style="background-color:#fdc7c0"></div>
                                            <div class="quartile" style="background-color:#fdaaa6"></div>
                                            <div class="quartile" style="background-color:#fc8c8c"></div>
                                            <div class="quartile" style="background-color:#fc6f72"></div>
                                            <div class="quartile" style="background-color:#fc5158"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>

                        <div id="countControls" class="hidden">
                          <div class="form-group">
                            <label for="drawnCount">View results based on the number of years readers have lived in <span class="neighborhoodName"></span>:</label>
                            <select class="form-control" id="drawnCount">
                              <option value="total">All Years</option>
                              <option value="count_under5">0-5 Years</option>
                              <option value="count_5">5-10 Years</option>
                              <option value="count_10_15">10-20 Years</option>
                              <option value="count_20greater">Longer than 20 Years</option>
                            </select>
                          </div>
                        </div>
                        <div id="shapeControls" class="hidden">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" id="all">
                              See some of the actual <span class="neighborhoodName"></span> outlines drawn by readers.
                            </label>
                          </div>
                        </div>

                        <div id="outlinesOnlyText" class="hidden">
                          <h4>Why am I only seeing outlines?</h4>
                          <p>We didn't get enough drawings in this neighborhood to be able to create a consensus map. You can help us out by drawing the area and telling your neighbors.</p>
                        </div>

                        <div id="howToUseThisMap">
                          <h4>How to Use This Map:</h4>
                          <p>Hover or tap on sections of the map above to see how many readers think <span class="neighborhoodName"></span> is located there. Use the drop-down to the left to sort results by how long readers have lived in the neighborhood.</p>
                        </div>       

                      </div>
                      <div class="col-md-6">
                        <!--<div id="chooseAnotherNeighborhood">
                          <p><strong>See Other Neighborhood Results:</strong></p>
                          <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|as_bootstrap }}
                            <input type="submit" class="btn btn-danger" value="Go!" />
                          </form>
                        </div>
                        <br />-->
                        <div id="drawNeighButton" class="hidden">
                          <h4 id="nobodysDrawn" class="hidden">Be the first to draw this neighborhood!</h4>
                          <h4><a class="btn btn-danger btn-lg" href="/nycneigh/" role="button">DRAW YOUR NEIGHBORHOOD</a></h4>
                        </div>                        
                        <div id="howToUseThisMap">
                          <h4 id="howThisMapWasMadeTitle"><a href="#">How This Map Was Made</a></h4>
                          <p id="howThisMapWasMade" class="hidden">After getting thousands of drawings from DNAinfo readers, we wanted show where there was broad agreement (and disagreement) about where <span class="neighborhoodName"></span> begins and ends. We randomly selected up to 25 reader drawings and used them to create the composite map that you see above. We then colored the map based on the number of times visitors included that section of <span class="neighborhoodName"></span> in their drawing.</p> 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#popup-wrapper-->

        <!-- Map Content -->
        <div id="map" class="map map-results map-popup-wrapper-open"></div>

{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
  <script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var neighborhood = "{{ neighborhood.dnaurl }}";
    var countDrawnNeighborhoods = parseInt("{{ countDrawnNeighborhoods }}");
    if (!neighborhood) {
      var referrer = document.referrer;
      var urlArray = referrer.split("/");
      var domain = urlArray[2];
      if (urlArray[5]) {
        var neighborhood = urlArray[5];
      } else {
        var neighborhood = 'park-slope';      
      } 
    }
  </script>
  <script type="text/javascript" src="{% static 'crimemaps/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/topojson.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/DNAinfoNYCNeighView.js' %}"></script>
	<script type="text/javascript" src="{% static 'crimemaps/js/nycneighviewapp.js' %}"></script>
  <script type="text/javascript" src="{% static 'crimemaps/js/nycviewMapControllers.js' %}"></script>
  {% import_django_select2_js %}
  <script type="text/javascript">
    $( document ).ready(function() {
      // sort the select list
      $('#id_neighborhoodLive').select2({
          sortResults: function(results, container, query) {
            function sort(a,b){
              a = a.text.toLowerCase();
              b = b.text.toLowerCase();
              if(a > b) {
                  return 1;
              } else if (a < b) {
                  return -1;
              }
              return 0;
          }
          results.sort(sort);

                return results;
          }
      });

      // show text in neighborhood select header
      $('.select2-chosen').html("Choose Your Neighborhood");


    });
  </script>
{% endblock %}


	
	

