{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}In or Out? What city blocks belong in your neighborhood? | DNAinfo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'draw_redux/css/bootstrap.css' %}">
	{% block css_block %}
	{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'draw_redux/css/main.css' %}">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	  <script type="text/javascript" src="{% static 'draw_redux/js/jquery-1.11.3.min.js' %}"></script>

  {% block head_js_block %}
  {% endblock %}
		
  </head>

  <body>

	{% block body_block %}
	{% endblock %}


	{% block modal_block %}
	{% endblock %}
	
    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static 'draw_redux/js/bootstrap.min.js' %}"></script>
	{% block js_block %}
	{% endblock %}
  <script>

   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-11547945-4', 'auto');
   ga('send', 'pageview');

  </script>
		
  </body>
</html>
