<!-- <ul id="background">
  <li></li>
</ul>  -->

<!-- Content -->
<div class="container-fluid">
    <div id="mainContent">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="introHeading">
                    In or out? What city blocks belong in your neighborhood? ... Intro text and background art.
                </h2>
                <div class="bottomButtonGroup">
                    <button id="nextNeighborhood" class="btn btn-dna-primary marginBottom40" type="submit">Let's Go!</button>
                </div>
            </div>
        </div>
    </div>
</div>
	

