<!-- Content -->
<div class="container-fluid">
    <form id="allPaidForm" method="post" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-10 col-sm-7 col-sm-offset-2">
                <h2 class="allPaidQuestionHeading">
                    Based on what you've told us, we estimate that the total monthly rent for your apartment was approximately $<span id="allPaidHeading"></span>. Sound right?
                </h2>
            </div>
            <div class="col-xs-2 col-sm-1">
                <p class="pagesCompleted pull-right">8/8</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="marginBottom20">
                    <input type="radio" id="radio01allPaid" name="radio" />
                    <label for="radio01allPaid"><span></span>Yes</label>
                </div>
                <div id="noButton" class="marginBottom40">
                    <input type="radio" id="radio02allPaid" name="radio" />
                    <label for="radio02allPaid"><span></span>No</label>
                </div>
                <div class="form-group formField marginBottom40 hidden">
                    <p class="monthlyRentText">Okay, what was the overall monthly rent for the apartment?</p>
                    <div class="input-group">
                      <div class="input-group-addon left"><span class="moneyIcon"></span></div>
                       {{ form }}
                      <div class="input-group-addon rightMoney"><span class="verifyIcon hidden"></span><span class="warningIcon hidden"></span></div>
                    </div>
                    <p class="text-danger hidden">Please enter a valid dollar amount between $0 and $50,000.</p>
                    {{ form.errors }}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 bottomButtonGroupRadio">
                <button id="backiPaid" class="btn btn-dna-primary  mobileWidth marginRight10" type="submit"><span class="backArrow"></span>Back</button>
                <button id="nextCalc" class="btn btn-dna-primary mobileWidth" type="submit" disabled="disabled">Next<span class="forwardArrow"></span></button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
var objectID = "{{ NYCmyFirstApartmentObject.id }}";
var allPaidOrigNum = parseFloat("{{ allPaid }}").toFixed(2);
var allPaid = numberWithCommas(allPaidOrigNum);

$( document ).ready(function() {
    $("#allPaidHeading").text(allPaid);
    $('#id_allPaid').val(allPaidOrigNum);
});

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}


</script>	

