{% extends 'apartment_test_for_danny_nyc/baseNYC.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load django_select2_tags %}

{% block title %}My First Apartment | DNAinfo{% endblock %}

{% block css_block %}
{% import_django_select2_css %}
<link rel="stylesheet" type="text/css" href="{% static 'apartment_test_for_danny_nyc/css/leaflet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'apartment_test_for_danny_nyc/css/leaflet.draw.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block head_js_block %}
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/controllers.js' %}"></script>
{% endblock %}
	
{% block body_block %}
<div id="content" class="fadein">
    {% include 'apartment/introTemplate.html' %}
</div>
{% endblock %}

{% block modal_block %}   
  <div class="modal fade" id="methodology" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="xIcon"></span></button>
        </div>
        <div class="modal-body modalContent">
          <p>
            DNAinfo uses the historical Consumer Price Index for all urban consumers (<a href="http://www.bls.gov/cpi/tables.htm" target="_blank">CPI-U</a>), U.S. city average for all items to adjust the rent you paid in the past for inflation. While CPI-U is calculated for the rent of primary residences separately, major methodological changes in how the U.S. Bureau of Labor Statistics calculates this subset of CPI-U preclude us from directly comparing rents in prior years with rents from today. <a href="http://www.zillow.com/research/data/" target="_blank">Zillow</a> provided us with the median rental list price of apartments across neighborhoods, boroughs, and citywide. These data are from March 2016. 
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'django_select2/js/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'django_select2/js/heavy_data.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/leaflet-src.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/leaflet.draw.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'apartment_test_for_danny_nyc/js/bar.js' %}"></script>
{% endblock %}


	
	

